body {
    margin: 0px;
}

h3 {
    margin: 0px;


    font-family: "Oswald",sans-serif;
    color: #642a1e;
}

p {
    margin: 0px;
    font-weight: bold;
    font-size: 22px;
    font-family: "Oswald",sans-serif;
    color: black;

}


#app {
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
}
#header {

    background-image: url("../img/promo/1.jpg");
    background-size: 100%;

    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}
#main {

    width: 100%;
    height: 75%;
    max-height: 75%;
}
#adminm {

    width: 100%;
    height: 85%;
}
#adminm-l {

    width: 100%;
    height: 100%;
}
#adminm-g {

    width: 100%;
    height: 85%;
}
#menu {
   padding-top: 30px;
}
#list {
    overflow-x:hidden;
}
#list-cart {
    overflow-x:hidden;
}
#footer {
    top: 85%;
    width: 100%;
    height: 15%;
    padding: 0;
}
#admin-list {
    height: 70%;
}
svg{
    -webkit-filter: drop-shadow( 0px 4px 4px black );
    filter: drop-shadow( 0px 4px 4px black );
}

.orderNumber{
    font-size: 150px;
    font-weight: bold;
    font-family: "Oswald",sans-serif;
    color: #642a1e;
}
.cart-minus {
    font-weight: bold;
    text-shadow: #535353 0 0 10px;
}
.admin-list-column{
    height: 100%;
}
.cart-plus {
    font-weight: bold;

    text-shadow: #535353 0 0 10px;
}
.uk-card-body {
    padding: 0 0px;
    border: 0px;
}
.uk-panel-scrollable {
    height: 100%;
    border: none;
}
.uk-panel-scrollable-cart{
    height: 80%;
    border: none;
}

.uk-button {
    background-color: #ffdbff;

}

.list-admin{
    height: 70%;

}
.uk-button-menu{
    height: 50px;
}
.uk-button-primary{
    background-color: #dc2400;
    color: white;
}

.uk-button-secondary{
    background-color: #499300;
    color: white;
}
.uk-button-secondary-bonus{
    background-color: #739300;
    color: white;
}
.uk-button-modal-default{
    margin-right: 10%;
    width: 40%;
}
.uk-button-modal-ok{

    color: white;
    background-color: #499300;
    width: 40%;
}

.padmargmin {
    padding: 0px;
    margin: 0px;
}
.uk-button-active {
    background-color: white;
    height: 50px;
    border: none;
}
.menu-list {
    border-radius: 7px;
    overflow: hidden;
}
.mainmenu{
    padding-left: 7%;
    text-transform: uppercase;
}
.uk-card-title-2 {

    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
.uk-card-title{
    color: #652b1f;
}
.uk-card-badge{
    background-color: #faa732;
}
.uk-notification{
    border-radius: 7px;
    overflow: hidden;
}
.start-modal{
    height: 100%;
}
.pay-buttons{
    height: 25%;
}
.pay-cart-buttons{
    height: 7%;
}
.uk-button-coupon{
    background-color: #ff570a;
}
.uk-button-border-top{
    border-top: 1px solid #babec2;
}
.uk-button-border-right{
    border-right: 1px solid #babec2;
}
.uk-button-border-left{
    border-left: 1px solid #babec2;
}
.uk-button-border-bottom{
    border-bottom: 1px solid #babec2;
}
.uk-button-delete{
    width: 100px;
    background-color: #babec2;
}
.uk-button-paneldel{
    width: 92px;
    background-color: #babec2;
}
.uk-button-coupok{
    width: 100px;
    background-color: #ff8000;
}
.uk-button-panelok{
    width: 92px;
    background-color: #ff8000;
}
.uk-button-cupnum{
     width: 100px;
     height: 70px;
     font-size: 22px;
     background-color: white;
 }
.uk-button-panel{
    width: 92px;
    height: 70px;
    font-size: 22px;
    background-color: white;
}

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:6px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color:transparent;

}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#ffcb17;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('../img/service/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}

::-webkit-resizer{
    background-repeat:no-repeat;
    width:7px;
    height:0px
}

::-webkit-scrollbar{
    background-image:url('');
    width: 11px;
}
.uk-button-adminm{
    width: 75%;
}
.uk-button-adminm:hover{
     width: 75%;
    background-color: rgba(255,187,104,0.55)
}

.uk-panel-scrollable-l {
    height: 100%;
    border: none;
}

.uk-panel-scrollable-g {
    height: 100%;
    border: none;
}

.vertical-text {
    transform: rotate(-90deg);
}
.uk-button-danger{
    background-color: #ad8aad;
    border: 1px solid red ;
}
.modal-set-place {
    width: 700px;
}
.right-arrow{
    position: relative;
    top: 20%;

}.right-arrow-ok{
    color: #3bfa00;
    position: relative;
    top: 20%;
}