body {
    margin: 0px;
}

h3 {
    margin: 0px;


    font-family: "Oswald",sans-serif;
    color: #642a1e;
}

p {
    margin: 0px;
    font-weight: bold;
    font-size: 22px;
    font-family: "Oswald",sans-serif;
    color: black;

}


#app {
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
}
#header {

    background-image: url("../img/promo/1.jpg");
    background-size: 100%;

    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}
#main {

    width: 100%;
    height: 75%;
    max-height: 75%;
}
#menu {
   padding-top: 30px;
}
#list {
    overflow-x:hidden;
}
#footer {
    top: 85%;
    width: 100%;
    height: 15%;
    padding: 0;
}
svg{
    -webkit-filter: drop-shadow( 0px 4px 4px black );
    filter: drop-shadow( 0px 4px 4px black );
}
.cart-minus {
    font-weight: bold;
    text-shadow: #535353 0 0 10px;
}
.cart-plus {
    font-weight: bold;

    text-shadow: #535353 0 0 10px;
}
.uk-card-body {
    padding: 0 0px;
    border: 0px;
}
.uk-panel-scrollable {
    height: 100%;
    border: none;
}

.uk-button {
    background-color: #ffdbff;

}

.uk-button-menu{
    height: 50px;
}
.uk-button-primary{
    background-color: #dc2400;
    color: white;
}

.uk-button-secondary{
    background-color: #499300;
    color: white;
}
.uk-button-modal-default{
    margin-right: 10%;
    width: 40%;
}
.uk-button-modal-ok{

    color: white;
    background-color: #499300;
    width: 40%;
}


.uk-button-active {
    background-color: white;
    height: 50px;
    border: none;
}
.menu-list {
    border-radius: 7px;
    overflow: hidden;
}
.mainmenu{
    padding-left: 7%;
}
.uk-card-title-2 {
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}

.pay-buttons{
    height: 25%;
}



::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:6px;
    height:0px
}

::-webkit-scrollbar-track {
    background-color:transparent;

}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#ffcb17;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('../img/service/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}

::-webkit-resizer{
    background-repeat:no-repeat;
    width:7px;
    height:0px
}

::-webkit-scrollbar{
    background-image:url('');
    width: 11px;
}